In [1]:
import pandas

Data frame is the data structure in pandas which store values

Creating a Data Frame

In [2]:
df1 = pandas.DataFrame([[1,2,3],[4,5,6]])

In [4]:
df1

   0  1  2
0  1  2  3
1  4  5  6

Giving Column names

In [5]:
df1 = pandas.DataFrame([[1,2,3],[4,5,6]], columns=["price","value","item"])

In [6]:
df1

   price  value  item
0      1      2     3
1      4      5     6

You can also add index names

In [7]:
df1 = pandas.DataFrame([[1,2,3],[4,5,6]], columns=["price","value","item"],index=["first","second"])

In [8]:
df1

        price  value  item
first       1      2     3
second      4      5     6

Passing a list of Dictionaries in Data Frame

In [11]:
df2 = pandas.DataFrame([{"name":"ka","surname":"ki"},{"name":"jac","surname":"ki"}])

In [12]:
df2

  name surname
0   ka      ki
1  jac      ki

Knowing the type of df1

In [13]:
type(df1)

pandas.core.frame.DataFrame

Getting mean of all columns

In [15]:
df1.mean()

price    2.5
value    3.5
item     4.5
dtype: float64

In [16]:
type(df1.mean())

pandas.core.series.Series

Accessing Columns of the Data Frame

In [17]:
df1.price

first     1
second    4
Name: price, dtype: int64

In [18]:
df1.value

first     2
second    5
Name: value, dtype: int64

In [21]:
df1.item

first     3
second    6
Name: item, dtype: int64